.do{
background-color: rgb(110, 243, 196);}
.re{
    background-color: rgb(172, 205, 40);}
.mi{
background-color: rgb(222, 106, 243);}
.fan{
background-color: rgb(186, 255, 231);}
.sol{
    background-color: rgb(239, 136, 39);}
.la{
    background-color: deeppink;
}
.si{
        background-color: rgb(59, 113, 248);}
.do2{
    background-color: rgb(251, 42, 42);}
.re2{
    background-color: rgb(255, 178, 34);}
.dos{
    background-color: rgb(145, 150, 133);}
.res{
    background-color: rgb(73, 42, 251);}
.fas{    background-color: rgb(248, 62, 255);}
.sols{
    background-color: rgb(6, 0, 0);}
.las{
    background-color: rgb(251, 129, 42);}
.dos2{    background-color: rgb(84, 8, 91);}



